@charset "utf-8";
/* CSS Document */

body,p { margin:0px; padding:0px; font-family:"맑은 고딕";}
a { text-decoration:none; color:#000; }
a:hover { text-decoration:underline; color:#b8292f;}
img { border:none; }

/* title */
#title { font-family:"맑은 고딕"; font-size:25px; padding:0 10px; font-weight:bold; border-top:2px solid #CCC; border-bottom:2px solid #CCC;}
#title2 { font-family:"맑은 고딕"; font-size:25px; padding:0 10px; font-weight:bold;}
.date { float:left; font-family:"맑은 고딕"; font-size:12px; padding-top:20px; font-weight:normal; color:#8a8a8b; padding-bottom:10px;}
.print { float:right; padding-top:20px;}
.t_txt { font-family:"맑은 고딕"; font-size:27px; padding-bottom:10px; padding-top:30px;}
.s_txt a { font-family:"맑은 고딕"; font-size:15px; color:#006; line-height:20px;}
.s_txt { padding-top:10px; padding-bottom:30px;}

/* main */
.body_txt { font-family:"맑은 고딕"; font-size:15px; line-height:24px; padding:15px 15px; text-align:justify; }

/* right */
#right { padding:0 10px;}
.r_txt { font-family:"돋움"; font-size:13px; font-weight:bold; color:#b8292f; padding-bottom:5px;}
.r_txt2 { font-family:"돋움"; font-size:13px; line-height:20px; padding-left:8px;}
.r_txt3 { font-family:"돋움"; font-size:13px; background:url(../img/dot.png) no-repeat 5px 7px; padding-left:15px; line-height:20px; }
.r_box{ border:1px solid #e6e5e5; padding:5px;}
.r_box2{ border:3px solid #e6e5e5; padding:5px;}

/* DB */
.db_txt { font-family:"맑은 고딕"; font-size:15px; font-weight:bold; height:25px; padding:5px 0; text-indent:20px;}
.db_txt2 { height:25px; padding:5px 0; }
.db_box { margin:0 auto; width:562px; border:1px solid #CCC;}